.text{
    color:#ffc300;
}

#firstContainer{
    background-color: #ffc300;
}

h2{
    text-align: center;
    padding-bottom: 50px;
}
h3{
    padding-bottom:20px;
}
.vecteur{
    padding-top: 120px;
    padding-bottom: 110px;
}
.paragraphe{
    margin-top: 20px;
}
.bouttonSouscrire{
    margin-top: 100px;
}
.paragrapheClients{
    margin:30px;
    margin-bottom:50px;
}
#troisiemeContainer{
    background-color: #ffc300;
}
.img{
    width: 355px;
}
.services{
    padding-bottom: 50px;
}
footer{
    margin:50px;
}
.logo{
    width:5%;
    height:auto;
}
