#firstContainer{
    background-color: #ffc300;
    padding-right: 80px;
}
body{
    padding-top:60px;
}
h2{
    text-align: center;
    padding-bottom: 50px;
}
h3{
    padding-bottom:50px;
}
.vecteur{
    padding-top: 120px;
    padding-bottom: 110px;
}
.paragraphe{
    margin-top: 20px;
}
.bouttonSouscrire{
    margin-top: 100px;
}
.paragrapheClients{
    margin:100px;
}
#troisiemeContainer{
    background-color: #ffc300;
}
.img{
    width: 355px;
}
