

$primary_t1: #ffc300;
$primary_t2: #cc9b00;
$primary_t3: #ffe89e;
$primary_t4: #ffeeb7;
$primary_t5: #846500;
$primary_t6: #bc9000;
$primary_t7: #dba700;
$primary_t8: #513e00;
$primary_t9: #fff3cc;

$primary_shadow: rgba(255, 195, 0, 0.5);
$primary_text_color_dark_bright: #212529;


.alert-primary {
  color: $primary_t5;
  background-color: $primary_t9;
  border-color: $primary_t4;
}

.alert-primary hr {
  border-top-color: $primary_t3;
}

.alert-primary .alert-link {
  color: $primary_t8;
}

.badge-primary {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
}

.bg-primary {
  background-color: $primary_t1 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: $primary_t2 !important;
}

.border-primary {
  border-color: $primary_t1 !important;
}

.btn-primary {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-primary:hover {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t7;
  border-color: $primary_t2;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
  border-color: $primary_t6;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary {
  color: $primary_t1;
  background-color: transparent;
  border-color: $primary_t1;
}

.btn-outline-primary:hover {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: $primary_t1;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.list-group-item-primary {
  color: $primary_t5;
  background-color: $primary_t4;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: $primary_t5;
  background-color: $primary_t3;
}

.list-group-item-primary.list-group-item-action.active {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t5;
  border-color: $primary_t5;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: $primary_t4;
}

.table-hover .table-primary:hover {
  background-color: $primary_t3;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: $primary_t3;
}

.text-primary {
  color: $primary_t1 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: $primary_t2 !important;
}


/*------------------------------------
- COLOR blue
------------------------------------*/

$blue_t1: #54DFFE;
$blue_t2: #21d5fd;
$blue_t3: #f1fcfe;
$blue_t4: #10a101ff;
$blue_t5: #01afd6;
$blue_t6: #12d2fd;
$blue_t7: #30d8fd;
$blue_t8: #0085a3;
$blue_t9: #11e104ff;

$blue_shadow: rgba(84, 223, 254, 0.5);
$blue_text_color_dark_bright: #212529;


.alert-blue {
  color: $blue_t5;
  background-color: $blue_t9;
  border-color: $blue_t4;
}

.alert-blue hr {
  border-top-color: $blue_t3;
}

.alert-blue .alert-link {
  color: $blue_t8;
}

.badge-blue {
  color: $blue_text_color_dark_bright;
  background-color: $blue_t1;
}

.badge-blue[href]:hover, .badge-blue[href]:focus {
  color: $blue_text_color_dark_bright;
  background-color: $blue_t2;
}

.bg-blue {
  background-color: $blue_t1 !important;
}

a.bg-blue:hover, a.bg-blue:focus,
button.bg-blue:hover,
button.bg-blue:focus {
  background-color: $blue_t2 !important;
}

.border-blue {
  border-color: $blue_t1 !important;
}

.btn-blue {
  color: $blue_text_color_dark_bright;
  background-color: $blue_t1;
  border-color: $blue_t1;
}

.btn-blue:hover {
  color: $blue_text_color_dark_bright;
  background-color: $blue_t7;
  border-color: $blue_t2;
}

.btn-blue:focus, .btn-blue.focus {
  box-shadow: 0 0 0 0.2rem $blue_shadow;
}

.btn-blue.disabled, .btn-blue:disabled {
  color: $blue_text_color_dark_bright;
  background-color: $blue_t1;
  border-color: $blue_t1;
}

.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active, .show > .btn-blue.dropdown-toggle {
  color: $blue_text_color_dark_bright;
  background-color: $blue_t2;
  border-color: $blue_t6;
}

.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $blue_shadow;
}

.btn-outline-blue {
  color: $blue_t1;
  background-color: transparent;
  border-color: $blue_t1;
}

.btn-outline-blue:hover {
  color: $blue_text_color_dark_bright;
  background-color: $blue_t1;
  border-color: $blue_t1;
}

.btn-outline-blue:focus, .btn-outline-blue.focus {
  box-shadow: 0 0 0 0.2rem $blue_shadow;
}

.btn-outline-blue.disabled, .btn-outline-blue:disabled {
  color: $blue_t1;
  background-color: transparent;
}

.btn-outline-blue:not(:disabled):not(.disabled):active, .btn-outline-blue:not(:disabled):not(.disabled).active, .show > .btn-outline-blue.dropdown-toggle {
  color: $blue_text_color_dark_bright;
  background-color: $blue_t1;
  border-color: $blue_t1;
}

.btn-outline-blue:not(:disabled):not(.disabled):active:focus, .btn-outline-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $blue_shadow;
}

.list-group-item-blue {
  color: $blue_t5;
  background-color: $blue_t4;
}

.list-group-item-blue.list-group-item-action:hover, .list-group-item-blue.list-group-item-action:focus {
  color: $blue_t5;
  background-color: $blue_t3;
}

.list-group-item-blue.list-group-item-action.active {
  color: $blue_text_color_dark_bright;
  background-color: $blue_t5;
  border-color: $blue_t5;
}

.table-blue,
.table-blue > th,
.table-blue > td {
  background-color: $blue_t4;
}

.table-hover .table-blue:hover {
  background-color: $blue_t3;
}

.table-hover .table-blue:hover > td,
.table-hover .table-blue:hover > th {
  background-color: $blue_t3;
}

.text-blue {
  color: $blue_t1 !important;
}

a.text-blue:hover, a.text-blue:focus {
  color: $blue_t2 !important;
}


/*------------------------------------
- COLOR secondary
------------------------------------*/

$secondary_t1: 393939;
$secondary_t2: #1f1f1f;
$secondary_t3: #888888;
$secondary_t4: #949494;
$secondary_t5: #000000;
$secondary_t6: #171717;
$secondary_t7: #272727;
$secondary_t8: #000000;
$secondary_t9: #9f9f9f;

$secondary_shadow: rgba(57, 57, 57, 0.5);
$secondary_text_color_dark_bright: #fff;


.alert-secondary {
  color: $secondary_t5;
  background-color: $secondary_t9;
  border-color: $secondary_t4;
}

.alert-secondary hr {
  border-top-color: $secondary_t3;
}

.alert-secondary .alert-link {
  color: $secondary_t8;
}

.badge-secondary {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t1;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t2;
}

.bg-secondary {
  background-color: $secondary_t1 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: $secondary_t2 !important;
}

.border-secondary {
  border-color: $secondary_t1 !important;
}

.btn-secondary {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t1;
  border-color: $secondary_t1;
}

.btn-secondary:hover {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t7;
  border-color: $secondary_t2;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem $secondary_shadow;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t1;
  border-color: $secondary_t1;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t2;
  border-color: $secondary_t6;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $secondary_shadow;
}

.btn-outline-secondary {
  color: $secondary_t1;
  background-color: transparent;
  border-color: $secondary_t1;
}

.btn-outline-secondary:hover {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t1;
  border-color: $secondary_t1;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem $secondary_shadow;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: $secondary_t1;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t1;
  border-color: $secondary_t1;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $secondary_shadow;
}

.list-group-item-secondary {
  color: $secondary_t5;
  background-color: $secondary_t4;
}

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
  color: $secondary_t5;
  background-color: $secondary_t3;
}

.list-group-item-secondary.list-group-item-action.active {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t5;
  border-color: $secondary_t5;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: $secondary_t4;
}

.table-hover .table-secondary:hover {
  background-color: $secondary_t3;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: $secondary_t3;
}

.text-secondary {
  color: $secondary_t1 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: $secondary_t2 !important;
}

